*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;

  font-family: 'Open Sans', sans-serif;
}

.topnav {
  font-size: 16px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1.5rem;
  flex-flow: row wrap;

  align-items: center;
}

ul a {
  color: white;
  text-decoration: none;
}

.leftnav {
  order: 1;
}

.logo {
  order: 2;
  margin: 0 auto;

}

.logo img {
  width: 300px;
}

.rightnav {
  order: 3;
  margin-right: 20px;
}

.rightnav:hover {
  text-decoration: underline;
}

.shop {
  border: 1px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}


.hidden {
  color: black;
  cursor:default;
}

.side-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 60px;
}

.side-nav-content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.side-nav a:hover {
  color: red;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  margin-left: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  font-family: inherit;
  display: block;
  transition: 0.3s;
  text-align: center;
}

button {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 2px;
}

.close-btn {
  padding: 5px 10px;
  text-decoration: none;
}




/* Main */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-direction: column;
}


.typewriter h1 {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  overflow: hidden;
  border-right: .15em solid grey;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(16, end),
    blink-caret .75s step-end infinite;
    
}

.typewriter h2 {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  opacity: 0;
  
  animation: 
    typing 5s steps(21, end),
    fadeIn 5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  }


@keyframes typing {
  from {width: 0}
  to { width: 100% }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% { border-color: transparent; }
}



/* Carousel */

#carousel {

}

.carousel img {

}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
