*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;

  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */

  max-width: 100%;
}

.topnav {
  font-size: 16px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1.5rem;
  flex-flow: row wrap;

  align-items: center;
}

ul a {
  color: white;
  text-decoration: none;
}

.leftnav {
  order: 1;
}

.logo {
  order: 2;
  margin: 0 auto;

}

.logo img {
  width: 300px;
}

.rightnav {
  order: 3;
  margin-right: 20px;
}

.rightnav:hover {
  text-decoration: underline;
}

.shop-link {
  border: 1px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}


.hidden {
  color: black;
  cursor:default;
}

.side-nav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
}

.side-nav-content {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  padding-left: 2.5em;
  padding-top: 2em;

  flex-direction: column;
}

.side-nav a {
  color: white;
  text-decoration: none;
  font-size: 2.25rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.side-nav a:hover {
  text-decoration: underline;
}

.mini-side-nav-content {
  position: relative;
  bottom: 26em;
  left: 20em;
  flex-direction: column;

  font-weight: 300;
  display: flex;
}

.mini-side-nav-content a {
  font-size: 1.125rem;
  cursor: pointer;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  margin-left: 50px;

  text-decoration: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  font-family: inherit;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.open-btn {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 2px;
}

.close-btn {
  padding: 5px 10px;
  text-decoration: none;
}


.underline {
  text-decoration: underline;
}

.nav-form {
  margin-top: -15em;
  margin-left: 4em;

  display: flex;
  flex-direction: column;
}

.nav-form p {
  display: inline-block;
  max-width: 45%;
  line-height: 1.5;
  font-size: 1.215rem;
  text-align: center;
  font-weight: 300;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  width: 100%;
  max-width: 100%;
}

.sign-up input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
}


/* Main */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-direction: column;
}


.typewriter h1 {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  overflow: hidden;
  border-right: .15em solid grey;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(16, end),
    blink-caret .75s step-end infinite;
    
}

.typewriter h2 {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  opacity: 0;
  
  animation: 
    typing 5s steps(21, end),
    fadeIn 5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  }


@keyframes typing {
  from {width: 0}
  to { width: 100% }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% { border-color: transparent; }
}



/* Carousel */

#carousel {
  background-color: #EEE;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;

  border: 1px solid red;
}

.carousel {
  padding-top: 6em;
  background: #EEE;
  height: max-content;
  min-height: 100vh;

  border: 1px solid red;
}

.carousel-cell {
  width: 75%;
  height: 720px;
  border: 1px solid red;
  margin-right: 15px;
  border-radius: 5px;
}

.flickity-page-dots {
  visibility: hidden;
}

/* News */

.news {
  background-color: white;
  color: black;
  padding-left: 2em;
  padding-right: 2em;
}

.news-header {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.news-header h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: -1px;


}

.news-header-btn {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 24px;

}

.news-header-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.news-articles {
  display: flex;
  flex-direction: row;

}

.news-article {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0 1em;
}

.news-article img {
  object-fit: cover;
  width: 80%;
}

.news-content {
  display: flex;
  flex-direction: column;
}

.news-article span {
  padding-top: 1em;
  text-transform: uppercase;
}

.news-article h3 {
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: 0;

  letter-spacing: -1px;
}

.hire {
  background-color: white;
  color: black;
  /* padding: 3em 4em; */

  display: flex;

  flex-direction: row;
  

}


.hire img {
  width: 100%;
  height: 400px;
}

.hire-info {
  /* margin-left: 5em;
  padding: 2em; */
}

.hire-info h2 {
  text-transform: uppercase;
  letter-spacing: -1px;
}

.hire-info p {
  width: 80%;
  font-weight: 300;
}